@* Raca Gallery *@

<div class="container">
    <div class="row photos" style="margin-top: 250px; text-align: center;">
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/camp fire tattoo.jpg" data-lightbox="photos"><img class="img-fluid" alt="Camp fire tattoo" src="images/RacaGallery/camp fire tattoo.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/clovn tattoo.jpg" data-lightbox="photos"><img class="img-fluid" alt="Clown tattoo" src="images/RacaGallery/clovn tattoo.jpg"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/eye tattoo.jpg" data-lightbox="photos"><img alt="Eye Tattoo" class="img-fluid" src="images/RacaGallery/eye tattoo.jpg"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/flower tattoo.jpg" data-lightbox="photos"><img class="img-fluid" alt="Flower tattoo" src="images/RacaGallery/flower tattoo.jpg"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/free hand tattoo.jpg" data-lightbox="photos"><img alt="Freehand tattoo" class="img-fluid" src="images/RacaGallery/free hand tattoo.jpg"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/geometri tattoo.jpg" data-lightbox="photos"><img class="img-fluid" alt="Geometry tattoo" src="images/RacaGallery/geometri tattoo.jpg"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/girl tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/girl tattoo.jpg" alt="Girl Tattoo"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/golf tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/golf tattoo.jpg" alt="Golf Tattoo"/></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/ink tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/ink tattoo.jpg" alt="Ink Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/ironman tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/ironman tattoo.jpg" alt="Ironman Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/man tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/man tattoo.jpg" alt="Man Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/lion tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/lion tattoo.jpg" alt="Lion Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/psyho tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/psyho tattoo.jpg" alt="Psycho Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/skull tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/skull tattoo.jpg" alt="Skull Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/spartan tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/spartan tattoo.jpg" alt="Spartan Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/violin tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/violin tattoo.jpg" alt="Violin Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/woman tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/woman tattoo.jpg" alt="Woman Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/RacaGallery/IMG_20210131_084949_336.jpg" data-lightbox="photos"><img class="img-fluid" src="images/RacaGallery/IMG_20210131_084949_336.jpg" alt="Tattoo" /></a></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
