@* Dovla Gallery *@
<div class="container">
    <div class="row photos" style="margin-top: 250px; text-align: center;">
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-mod-scar.jpg" data-lightbox="photos"><img class="img-fluid" alt="BodyMod Scar" src="images/DovlaGallery/body-mod-scar.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-mod-scar-2.jpg" data-lightbox="photos"><img class="img-fluid" alt="BodyMod Scar" src="images/DovlaGallery/body-mod-scar-2.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-mod-scar3.jpg" data-lightbox="photos"><img alt="BodyMod Scar" class="img-fluid" src="images/DovlaGallery/body-mod-scar3.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-mod-scar4.jpg" data-lightbox="photos"><img class="img-fluid" alt="BodyMod Scar" src="images/DovlaGallery/body-mod-scar4.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-mod-scar5.jpg" data-lightbox="photos"><img alt="BodyMod Scar" class="img-fluid" src="images/DovlaGallery/body-mod-scar5.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/body-suspension.jpg" data-lightbox="photos"><img class="img-fluid" alt="Suspension" src="images/DovlaGallery/body-suspension.jpg" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/couple-suspension.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/couple-suspension.jpg" alt="Couple suspension" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/extreme-suspension.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/extreme-suspension.jpg" alt="Extreme suspension" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/human-swing-suspension.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/human-swing-suspension.jpg" alt="Human Swing suspension" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/suspension-body-tattoo.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/suspension-body-tattoo.jpg" alt="Suspension Tattoo" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/suspension-hook.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/suspension-hook.jpg" alt="Suspension Hook" /></a></div>
        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="images/DovlaGallery/vladimir-works.jpg" data-lightbox="photos"><img class="img-fluid" src="images/DovlaGallery/vladimir-works.jpg" alt="Vladimir BodyMod" /></a></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>